html {
	font-size: 62.5%;
}

body {
	font-family: Roboto;
	font-size: 16px;
	font-size: 1.6rem;
}

/* Header */
header {
	width: 100%;
	background-color: #fa0;
	padding-top: 20px;
	padding-bottom: 10px;
}

h1 {
	margin: 0;
}

.subtitle {
	margin-top: 10px;
	margin-bottom: 10px;
}


/* Main area */
main {
	padding-top: 20px;
}

.card {
	border: 1px lightgrey solid;
	margin-top: 10px;
	margin-bottom: 10px;
}

.card img {
	width: 100%;
}

.card-info {
	padding: 10px 20px;
}

.card-info h2{
	font-size: 20px;
	font-size: 2.0rem;
}